<!-- Content Heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else { res.redirect('/') } %>
    
<!-- Message Block -->
<%- messages() %> <% if (errors) { %>
  <ul class="bad-notice">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<p class="confirm-deletion">Confirm Deletion</p>
<p class="confirm-deletion">This action cannot be undone!</p>

<form class="account-forms" id="updateForm" action="/inv/delete-inventory" method="post">
  <label for="inv-make">Make (alphanumeric only)</label>
  <input type="text" name="inv_make" id="inv-make" required pattern="^[a-zA-Z0-9]+$" value="<%= locals.inv_make %>" readonly>
  <label for="inv-model">Model (alphanumeric only)</label>
  <input type="text" name="inv_model" id="inv-model" required pattern="^[a-zA-Z0-9][a-zA-Z0-9\s]+$" value="<%= locals.inv_model %>" readonly>
  <label for="inv-year">Year (yyyy)</label>
  <input type="text" name="inv_year" id="inv-year" required pattern="^\d{4}$" value="<%= locals.inv_year %>" readonly>
  <label for="inv-price">Price (1-9 digits)</label>
  <input type="text" name="inv_price" id="inv-price" required pattern="^\d{1,9}$" value="<%= locals.inv_price %>" readonly>
  <button class="admin-button" type="submit" value="Delete Vehicle">Delete Vehicle</button>
  <input type="hidden" name="inv_id" <% if(locals.inv_id) { %> value="<%= locals.inv_id %>" <% } %>>
</form>